[Unit]
Description=Run media library rsync backup to T7Shield

[Service]
Type=oneshot
RemainAfterExit=false
ExecStart=rsync -av --delete /srv/media /run/media/rykarn/T7Shield/media_backup
