[Unit]
Description=Run media library rclone sync to pikapod

[Service]
Type=oneshot
RemainAfterExit=false
ExecStart=rclone -Pv sync /srv/media/music pikapod:music
