$night0: #2e3440;
$night1: #3b4252;
$night2: #434c5e;
$night3: #4c566a;
$snow0: #d8dee9;
$snow1: #e5e9f0;
$snow2: #eceff4;
$frost0: #8fbcbb;
$frost1: #88c0d0;
$frost2: #81a1c1;
$frost3: #5e81ac;
$aurora0: #bf616a;
$aurora1: #d08770;
$aurora2: #ebcb8b;
$aurora3: #a3be8c;
$aurora4: #b48ead;

$background: $night1;

* {
    all: unset;
}

.bar {
    background: $background;
    font-size: 20px;
    font-family: "League Spartan";
    color: $snow0;
}

.power-button {
    margin: 0px 10px 0px 10px;
}

.confirm-button {
    margin: 0px 10px 0px 10px;
    color: $aurora3;
}

.stat-container {
    // border: 1px solid;
    padding: 0px 10px 0px 10px;
}

.clock-container {
    // border: 1px solid;
    padding: 0px 10px 0px 10px;
    min-width: 180px;
}

progressbar progress {
    background-color: $aurora1;
    border: 0px;
}

progressbar trough, progress {
    border: 0px;
    border-radius: 0px;
    min-height: 10px;
}

progressbar progress {
    background-color: $frost1;
}

progressbar trough {
    background-color: $night0;
    min-width: 50px;
}

.stat-label {
    color: $frost1;
}

.divider {
    min-width: 1px;
    border-right: 2px solid $night3;
}

.divider-dashed {
    min-width: 1px;
    border-right: 2px dashed $night3;
}

.workspaces {
    button {
        margin: 0px;
        padding: 0px 10px;
    }
    .focused {
        background: $frost0;
        color: $night0;
    }

    .populated {
        color: $snow0;
    }
    .unused {
        color: $night3;
    }
    .urgent {
        background: $aurora0;
    }

}
