$night0: #2e3440;
$night1: #3b4252;
$night2: #434c5e;
$night3: #4c566a;
$snow0: #d8dee9;
$snow1: #e5e9f0;
$snow2: #eceff4;
$frost0: #8fbcbb;
$frost1: #88c0d0;
$frost2: #81a1c1;
$frost3: #5e81ac;
$aurora0: #bf616a;
$aurora1: #d08770;
$aurora2: #ebcb8b;
$aurora3: #a3be8c;
$aurora4: #b48ead;

$background: $night0;
$background-highlight: $night3;

button {
    all: unset;
}

.bar {
    background: $background;
    font-size: 20px;
    font-family: "League Spartan";
    color: $snow0;
}

.power-button {
    padding: 10px;
    background: $background-highlight;
}


.power-button.confirm {
    // margin: 0px 10px 0px 0px;
    color: $aurora3;
}

.window-title-container {
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 0px 2px;
}

.item-container {
    padding: 0px 10px 0px 10px;
    background: $background-highlight;
    margin: 0px 0px 0px 2px;
}

.item-container.clock {
    min-width: 180px;
}

progressbar trough, progress {
    border: 0px;
    border-radius: 0px;
    min-height: 10px;
}

progressbar progress {
    background-color: $frost1;
    border: 0px;
}

progressbar trough {
    background-color: $night0;
    min-width: 50px;
}

.small-progress {
    font-size: 13px;
    margin: 1px 0px 1px 0px;

    .small-progress-label {
        margin: 0px 3px 0px 0px;
        min-width: 30px;
    }

    progressbar trough, progress {
        border: 0px;
        border-radius: 0px;
        min-height: 5px;
    }

    progressbar progress {
        background-color: $frost1;
        border: 0px;
    }

    progressbar trough {
        background-color: $night0;
        min-width: 50px;
    }
}

.stat-label {
    color: $frost1;
}


.app-label {
    font-family: "Symbols Nerd Font";
    font-size: 20px;
    margin: 0px 2px 0px 2px;
}

.ws-label {
    font-size: 15px;
    padding: 2px 0px 0px 2px;
}

.ws-button {
    padding: 1px;
    min-width: 28px;
}


.workspaces {
    .focused {
        background: $snow0;
        color: $night0;
    }

    .exists {
        background: $background-highlight;
        color: $snow0;

        .icon-red {
            color: $aurora0;
        }
        .icon-orange {
            color: $aurora1;
        }
        .icon-yellow {
            color: $aurora2;
        }
        .icon-green {
            color: $aurora3;
        }
        .icon-purple {
            color: $aurora4;
        }
        .icon-blue {
            color: $frost1;
        }
        .icon-dark-blue {
            color: $frost3;
        }
        .icon-white {
            color: $snow0;
        }


    }
    .empty {
        background: $night1;
        color: $snow0;
    }
    .urgent {
        background: $aurora0;
        color: $night0;
    }
}


.music-container {
    padding: 4px 10px 0px 10px;
    background: $background-highlight;
}

.music-text {
    font-size: 20px;
}

.music-row {
    margin: 2px 0px 2px 0px;
}

.subtitle {
    font-size: 40px;
}

.talon-icon {
    font-size: 40px;
    margin: 5px;
}

.talon-red {
    color: $aurora0;
}

.talon-yellow {
    color: $aurora2;
}

.talon-green {
    color: $aurora3;
}

.talon-black {
    color: $night0;
}
