[Unit]
Description=RPC server that controls wacom profiles and screen region mappings

[Service]
Type=simple
ExecStart=python -u %h/lib/wacom/wacom_server.py

[Install]
WantedBy=graphical-session.target
